:root {
    --color-bg: #ffffff;
    --color-text: #222222;

    --color-primary: #0077ff;
    --color-secondary: #f39c12;
    --color-accent: #f39c12;
    --color-blueprint: #1e90ff;
    
    --color-link: #0077ff;
    --color-link-hover: #0055cc;
}

.dark {
    --color-bg: #1e1e1e;
    --color-text: #f0f0f0;

    --color-primary: #3399ff;
    --color-secondary: #e67e22;
    --color-accent: #e67e22;
    --color-blueprint: #4da6ff;
    
    --color-link: #3399ff;
    --color-link-hover: #66b3ff;
}
