:root {
    --color-bg: #EE8012;
    --color-primary: #E4E6DD;
    --color-primary-dark: #CCCCCC;
    --color-secondary: #666666;
    
    --color-accent: #000003;
    --color-blueprint: #00AAFF;

    --color-text: #222222;
    
    --color-link: #00AAFF;
    --color-link-hover: #66b3ff;
}

.dark {
    --color-bg: #1e1e1e;
    --color-text: #f0f0f0;

    --color-primary: #3399ff;
    --color-secondary: #e67e22;
    --color-accent: #e67e22;
    --color-blueprint: #4da6ff;
    
    --color-link: #3399ff;
    --color-link-hover: #66b3ff;
}
