@import url('reset.css');
@import url('colors.css');
@import url('typography.css');
@import url('layout.css');

@import url('../js/components/navbar/navbar.css');
@import url('../js/components/page-container/page-container.css');
@import url('../js/components/page-background/page-background.css');
@import url('../js/components/settings-menu/settings-menu.css');
@import url('../js/components/toggle-switch/toggle-switch.css');
@import url('../js/components/hamburger-button/hamburger-button.css');
@import url('../js/pages/home/home.css');
@import url('../js/pages/about/about.css');
@import url('../js/pages/projects/projects.css');
@import url('../js/pages/art/art.css');
@import url('../js/pages/not-found/not-found.css');
